.cmdl {
    height: $cmdl-height;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    padding: .2rem;
    flex-direction: row;
    align-items: center;
    gap: .2rem;
}

@keyframes cursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }
}

.cmdl-line {
    height: 100%;
    flex: 1 1 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: .2rem solid $mc;
    color: $mc;
    padding-left: .8rem;
    gap: .2rem;
    font-weight: 700;
    border-radius: .3rem;

    .-item.-cursor {
        animation: cursor 1s infinite;
    }
}

.cmdl-opt {
    height: 100%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: .2rem solid $mc;
    border-radius: .3rem;
}

.cmdl-user {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0rem 1rem;
    color: $mc;
}

.cmdl-user-select {
    position: absolute;
    bottom: $cmdl-height;
    background-color: #312e2b;
    background-color: $mc;
    right: .2rem;
    width: 15rem;
    height: 18rem;
    padding: .5rem;
    // box-shadow: -.3rem -.3rem .6rem $mc;
    border-radius: .3rem;

    .-list {
        overflow: auto;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: .2rem;

        .-item {
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 2rem;
            padding-left: 1rem;
            border-radius: .3rem;
            color: #222;

            &:hover {
                background-color: #201f1e;
                color: #fff;
            }
        }
    }
}
