$c: #0145c2;
$red: rgb(221, 65, 37);

$loading_h0: 2rem;
$loading_h1: 4rem;

@import "common.scss";
@import "frames.scss";
@import "modal.scss";
@import "userSelection.scss";

body {
    background-color: black;
    color: $c;
    margin: 0;
    font-family: "Source Sans Pro", "Arial", "Tahoma", sans-serif;
}

* {
    box-sizing: border-box;
}

#win-header {
    width: 100vw;
    height: 2rem;
    background-color: $c;
    color: black;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-weight: 600;
    user-select: none;
}

.h-gr {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.h-b {
    height: 100%;
    width: 3rem;
    background-color: transparent;
    border: 0;
    appearance: none;
    font-size: 1.1rem;

    &:hover,
    &.active {
        background-color: #0004;
    }
}

#app {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#app-header {
    flex: 0 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#app-frames {
    flex: 1 1 0;
}

#app-cmd {
    flex: 0 0 5rem;
    background-color: blueviolet;
}
