$c: #fe5000;
$red: rgb(221, 65, 37);

$loading_h0: 2rem;
$loading_h1: 4rem;

body {
    background-color: black;
    color: $c;
    margin: 0;
    font-family: "Source Sans Pro", "Arial", "Tahoma", sans-serif;
}

* {
    box-sizing: border-box;
}

@keyframes loading {
    from {
        height: $loading_h0;
    }

    40% {
        height: $loading_h1;
    }

    80% {
        height: $loading_h0;
    }

    to {
        height: $loading_h0;
    }
}

@mixin loadbar {
    animation: 1s ease-in-out loading infinite;
    width: 1rem;
    background-color: $c;
    height: $loading_h0;
}

.fs-loading {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .8rem;

    >div:nth-child(-n+3) {
        @include loadbar();
        animation-delay: 0s;
    }

    >div:nth-child(2) {
        animation-delay: .1s;
    }

    >div:nth-child(3) {
        animation-delay: .2s;
    }

    >div:nth-child(4) {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateY(4rem);
        max-width: 90%;
        user-select: none;
    }
}

body>.fs-loading {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    &:not(.active) {
        display: none;
    }
}

#win-header {
    width: 100vw;
    height: 2rem;
    background-color: $c;
    color: black;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    font-weight: 600;
    user-select: none;
}

.h-gr {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.h-b {
    height: 100%;
    width: 3rem;
    background-color: transparent;
    border: 0;
    appearance: none;
    font-size: 1.1rem;

    &:hover,
    &.active {
        background-color: #0004;
    }
}

#app {
    width: 100vw;
    height: calc(100vh - 2rem);
    position: fixed;
}

#aside {
    width: 3rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #111;

    >div {
        flex: 0 0 3rem;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;

        &:hover {
            background-color: #181818;
        }

        &:first-child {
            background-color: #222;
            // border-top-left-radius: .5rem;
            // border-bottom-left-radius: .5rem;
        }
    }
}

.frames {
    width: 100%;
    height: 100%;
    padding: .2rem;
    // display: flex;


    .frame {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        gap: .2rem;
        // border: 1px solid red;
        // background-color: #111;
        flex: 1 1 0;
        border-radius: .3rem;

        &.flex-dir-column {
            flex-direction: column;
            // background-color: #222;
        }

        &.mark-red {
            background-color: $red;
            color: $red;

            .a-delete {
                color: #111;
            }

            .insert-frame:not(.box),
            .frame,
            .tab-frame {
                background-color: $red;
            }

            .tab-edit {
                display: none
            }
        }
    }

    .insert-frame {
        flex: 0 0 1rem;
        background-color: #111;
        border-radius: .2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .2rem;

        &.box {
            background-color: transparent;
        }

        .insert-frame {
            flex: 1 1 0
        }

        &:not(.box):hover {
            background-color: #222;
        }

        // &.a-delete:hover {
        //     background-color: rgb(221, 65, 37);
        //     color: #111;

        //     ~:is(.insert-frame, .tab-frame),
        //     ~* :is(.tab-frame, .insert-frame) {
        //         background-color: rgb(221, 65, 37) !important;
        //         color: #111;
        //     }
        // }
    }

    >.frame {
        height: 100%;
        width: 100%;
    }

    .tab-frame {
        height: 100%;
        width: 100%;
        border-radius: .2rem;
        flex-direction: column;
        // background-color: #000;
        background-color: #080808;
        position: relative;

        .tab-edit {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            flex-direction: row;
            gap: .2rem;

            >* {
                background-color: #111;
                border-radius: .2rem;
                padding: 1rem;
                color: #fe5000 !important;

                &:hover {
                    background-color: #222;
                }
            }
        }
    }
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1118;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    &:not(.active) {
        display: none;
    }
}

.modal {
    border-radius: .3rem;
    background-color: #111;
    min-height: 3rem;
    min-width: 13rem;
    display: flex;
    flex-direction: column;
}

.modal-title {
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: bold;
    background-color: $c;
    color: #111;
    padding: 0 1rem;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}

.modal-content {
    color: $c;
}

.modal-button-row {
    display: flex;
    flex-direction: row;
    gap: .3rem;
    padding: .3rem;
}

.modal-button {
    flex: 1 0 auto;
    padding: .7rem;
    background-color: #181818;
    appearance: none;
    border: 0;
    color: currentColor;
    font-size: 1em;
    border-radius: .3rem;

    &:hover {
        background-color: #222;
    }
}

.modal-input {
    flex: 1 0 auto;
    padding: .5rem;
    background-color: #181818;
    appearance: none;
    border: 0;
    color: currentColor;
    font-size: 1em;
    border-radius: .3rem;
    margin: .3rem;
    width: calc(100% - .6rem);
    outline: none !important;

    &:hover {
        background-color: #222;
    }
}